<style>
  .trmnl .column {
    display: block;
    column-count: 3;
    column-gap: 5px;
  }

  .trmnl .item {
    width: 100%;
    margin-bottom: 10px;
  }

  .trmnl .item .meta {
    width: 20px;
  }
</style>


<div class="layout">
  <div class="columns">

    {% assign max-cols              = 1 %} <!-- Force to one, CSS used for cols now -->
    {% assign max-bus-lines-per-col = 700 %} <!-- Counting bus-lines not entries displayed -->

    {% assign cols = 0 %}
    <div class="column" data-list-limit="true" data-list-max-height="1100" data-list-hidden-count="true">
      {% assign breakcounter = 0 %}
      {% for departure in departures  %}

      <div class="item">
        <div class="meta">
          <span class="index">{{departure[0]}}</span>
        </div>
        <div class="content">
          {% for item in departure[1] %}
          {% assign breakcounter = breakcounter | plus: 1 %}
          <span class="title title--small">{% assign txt = item[0] | split: " - "%}{{txt[0]}} (Platf. {{txt[1]}})</span>
          {% comment %} <span class="description">Weekly team sync-up</span> {% endcomment %}
          <div class="flex gap--small">
            {% for time in item[1] -%}
            <span class="label label--small label--underline">{% assign trunc-time = time.expected | split: "."%}{{trunc-time[0]}}</span>
            {% endfor %}
          </div>
          {% endfor %} <!-- item in dep[1] -->
        </div>
      </div> <!-- item -->
      {% if breakcounter >= max-bus-lines-per-col %}
      {% assign breakcounter = 0 %}
      {% assign cols = cols | plus: 1 %}
      {% if cols < max-cols %}
                   </div>
    <div class="column" data-list-limit="true" data-list-max-height="400" data-list-hidden-count="true">
      {% endif %}

      {% endif %}
      {% endfor %}

    </div> <!-- column -->

  </div> <!-- columns -->
</div>



<div class="title_bar">
  {% comment %} <img class="image" src="https://usetrmnl.com/images/plugins/trmnl--render.svg" /> {% endcomment %}
  <span class="title">Ruter # {{name}} {{num_departures-excludes}} departues in the next {{minutes_to_fetch}} minutes</span>
  <span class="instance">Last updated: {{ last_updated | date: "%s" | plus: trmnl.user.utc_offset | date: "%H:%M" }}</span>
</div>
